@import 'utils';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: $color_accent;
    background-color: $color-background;
}

main {
    padding: 2rem;
    margin: auto;
}

section,
footer,
nav {
    max-width: 38em;
    margin: auto;
}

footer,
nav {
    text-align: center;
}

a {
    color: $color_accent_secondary;
    text-decoration: none;
    border-bottom: 1px dashed currentColor;

    &:hover {
        color: $color_accent;
        border-bottom-style: solid;
    }
}

header {
    max-width: 38rem;
    margin: auto;

    a {
        color: $color_accent_secondary;
        border: none;
    }
}

@each $service, $color in $services {
    .#{$service} {
        color: $color;
    }
}

.product-gallery {
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

@include block('product') {
    background-color: #fff;
    border-radius: 10px;
    color: $color_secondary;
    box-shadow: 0px 3px 5px 1px $color_secondary;
    overflow: hidden;
    position: relative;
    margin: 2em auto;
    transition: box-shadow 0.2s ease-in;

    &:hover {
        box-shadow: 0px 6px 14px 1px $color_secondary;
    }

    @include for-tablet-landscape-up {
        width: 49%;
        margin-right: 1%;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 0;
    }

    @include for-tablet-landscape-only {
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }

    @include for-desktop-up {
        width: 30%;
        margin-right: 3%;
    }

    @include for-desktop-only {
        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }

    @include for-big-desktop-up {
        width: 23%;
        margin-right: 2%;

        &:nth-of-type(4n) {
            margin-right: 0;
        }
    }

    @include element('image') {
        & > img.image {
            max-width: 100%;
            object-fit: cover;
        }
        .sold-stamp {
            left: 50%;
            max-width: 95%;
            opacity: 1;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @include element('details') {
        padding: 2em 1.4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include element('price') {
        display: flex;
        font-size: 1.3em;
        color: $color_accent_secondary;

        &:before {
            content: 'R$ ';
            display: block;
            margin-right: 0.2em;
        }
    }

    @include element('name') {
        font-size: 1.2em;
    }

    @include element('links') {
        padding: 0.4em;
        display: flex;
        justify-content: space-evenly;
        background-color: #fff;
        padding: 0;
        width: 100%;
        @include for-desktop-up {
            height: 100%;
            transition: opacity 0.2s ease-in-out;
            position: absolute;
            opacity: 0;
            align-items: center;
            top: 0;
            pointer-events: none;
            .product:hover & {
                opacity: 0.8;
                pointer-events: all;
            }
        }

        a {
            color: #fff;
            border-style: none;
            border-radius: 999px;
            text-align: center;
            text-decoration: none;
            height: 1.8em;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            padding: 1em;
            flex-grow: 1;
            height: 100%;
            border-radius: 0;

            &.mercadolivre {
                background-color: $color_ml;
            }

            &.whatsapp {
                background-color: $color_wa;
            }

            &.webmotors {
                background-color: $color_wm;
            }

            .svg-inline--fa {
                margin-left: 0.5em;
                margin-right: 0.5em;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    // modifiers
    @include modifier('sold') {
        pointer-events: none;
        position: relative;
        &:before {
            background-color: transparentize($color_secondary, 0.4);
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        &:after {
            background-color: darken($color_secondary, 20);
            color: #FFF;
            content: 'VENDIDO';
            display: block;
            font-size: 4em;
            font-weight: 700;
            left: 50%;
            padding: 0.4em;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-30deg);
            width: 125%;
            z-index: 1;
        }
    }
}
