@mixin for-phone-only {
    @media (max-width: 439px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 440px) {
        @content;
    }
}
@mixin for-tablet-portait-only {
    @media (min-width: 440px) and (max-width: 899px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin for-tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

$elementSeparator: '__';
$modifierSeparator: '--';

@function containsModifier($selector) {
    $selector: selectorToString($selector);
    @if str-index($selector, $modifierSeparator) {
        @return true;
    } @else {
        @return false;
    }
}

@function selectorToString($selector) {
    $selector: inspect($selector); //cast to string
    $selector: str-slice($selector, 2, -2); //remove brackets
    @return $selector;
}

@function getBlock($selector) {
    $selector: selectorToString($selector);
    $modifierStart: str-index($selector, $modifierSeparator) - 1;
    @return str-slice($selector, 0, $modifierStart);
}

@mixin block($block) {
    .#{$block} {
        @content;
    }
}

@mixin element($element) {
    $selector: &;
    @if containsModifier($selector) {
        $block: getBlock($selector);
        @at-root {
            #{$selector} {
                #{$block + $elementSeparator + $element} {
                    @content;
                }
            }
        }
    } @else {
        @at-root {
            #{$selector + $elementSeparator + $element} {
                @content;
            }
        }
    }
}

@mixin modifier($modifier) {
    @at-root {
        #{&}#{$modifierSeparator + $modifier} {
            @content;
        }
    }
}

$color_foreground: #0f0f0f;
$color_background: #fff;
$color_gallery: #f7f7f7;
$color_secondary: #6a89a1;
$color_accent: #333268;
$color_olx: #9027b0;
$color_ml: #1259c3;
$color_wa: #128C7E;
$color_wm: #f3123c;
$color_accent_secondary: #f05b78;
$color_sold: #b6e072;

$services: (
    ml: $color_ml,
);
